body
  font-family: 'Exo', sans-serif
  font-weight: 500
  font-size: 15px

h2, h5
  color: $blue
  font-size: 18px
  font-weight: 700

h3
  padding-top: 15px

h4
  font-size: 20px
  font-style: oblique

a
  color: $dark-gray

hr
  border: none
  width: 90%
  margin-left: 0

button
  border: 1px solid $light-gray
  border-radius: 3px
  background-color: transparent !important
  margin: 5px
  font-weight: 400
  font-size: 15px

.container
  border: 1px solid $light-gray
  border-radius: 7px
  margin: 50px auto
  padding: 75px
  color: $dark-gray

  .solid_hr
    border-bottom: 5px solid $dark-gray

  .dashed_hr
    border-bottom: 1px dashed $light-gray

