<div class="onetwenty">
  <section class="container resume">

    <div class="text-center">
      <h1>Always operate on the principle of 120%</h1>
      <h4>via the</h4>
      <h2>20-40 40-20 Strategy</h2>
      <br>
      <br>
    </div>

    <h4>Allocate Your Income Intelligently</h4>
    <p>Whenever even 1 dollar comes to you it's time to manage money. Perform these actions:</p>
    <ol>
      <li>20% => Invest
        <ul>
          <li>Determine what 20% of the new income is. Take that amount from existing storage <br>and put it into a cash
            flow deal that generates a 20% ROI.
          </li>
        </ul>
      </li>
      <li>40% => Storage
        <ul>
          <li>Determine what 40% of the new income is. Put that amount into your savings account.</li>
        </ul>
      </li>
      <li>40% => Taxes
        <ul>
          <li>Determine what 40% of the new income is. Put that amount into a holy account.</li>
        </ul>
      </li>
      <li>20% => Lifestyle
        <ul>
          <li>Determine what 20% of the new income is. Put that amount into a checking account.</li>
        </ul>
      </li>
    </ol>

    <br>

    <p>You can apply this model to many different scales (e.g., Annually, Monthly, Bi-Weekly)</p>

    <h4>- You're Welcome</h4>

    <br>
    <br>
    <br>
    <br>

    <small><b>DISCLAIMER</b><br><br><b>HAVE TO SAY THIS - EVEN INVESTMENT FIRMS INCLUDE SOMETHING SIMILAR</b><br>
      NO INVESTMENT ADVICE

      The Content is for informational purposes only, you should not construe any such information or other material as
      legal, tax, investment, financial, or other advice. Nothing contained on our Site constitutes a solicitation,
      recommendation, endorsement, or offer by Me or any third party service provider to buy or sell any securities or
      other financial instruments in this or in in any other jurisdiction in which such solicitation or offer would be
      unlawful under the securities laws of such jurisdiction.

      All Content on this site is information of a general nature and does not address the circumstances of any particular
      individual or entity. Nothing in this website constitutes professional and/or financial advice, nor does any
      information
      on this website constitute a comprehensive or complete statement of the matters discussed or the law relating
      thereto.
      Me is not a fiduciary by virtue of any person’s use of or access to this website or Content. You alone assume the
      sole
      responsibility of evaluating the merits and risks associated with the use of any information or other Content on the
      Site before making any decisions based on such information or other Content. In exchange for using this website, you
      agree not to hold Me, its affiliates or any third party service provider liable for any possible claim for damages
      arising from any decision you make based on information or other Content made available to you through this website.
    </small>

  </section>

</div>
