<section class="container resume">

  <h1>MICHAEL GEATZ</h1>
  <h2>SOFTWARE & BUSINESS STRATEGIST</h2>

  <div class="resume_header">
    <div class="row">
      <div class="col-12 col-sm-6">
        <i class="fas fa-phone"></i>
        612-655-3606
      </div>
      <div class="col-12 col-sm-6">
        <i class="fas fa-at"></i>
        <a href="mailto:mgeatz01@gmail.com"> MGEATZ01@GMAIL.COM</a>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <i class="fas fa-link"></i> WWW.MICHAELGEATZ.COM
      </div>
      <div class="col-12 col-sm-6">
        <i class="fas fa-map-marker-alt"></i> MINNEAPOLIS, MN
      </div>
    </div>
  </div>

  <div class="resume_body">
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="row">

          <div class="col-12">
            <h3>MAIN TAKE AWAY</h3>
            <hr class="solid_hr">
            <p>SaaS thought leader that loves to research, teach, consult & lead.</p>
            <hr class="dashed_hr">
          </div>

          <div class="col-12">
            <h3>EXPERIENCE</h3>
            <hr class="solid_hr">

            <div class="experience_block">
              <h4>Software Engineer</h4>
              <h5>Nielsen</h5>
              <div class="experience_details">
                <i class="far fa-calendar-alt"></i> 10/2017 - Present &nbsp;
                <i class="fas fa-map-marker-alt"></i> Minneapolis, MN
              </div>
              <div class="experience_description">
                A global measurement and data analytics company revolutionizing metadata.
                <ul>
                  <li>
                    Accountable for the health of SaaS interface (that provides configuration 
                    features for controlling remotely managemed IoT devices) with sound UI/UX. 
                  </li>
                </ul>
              </div>
              <hr class="dashed_hr">
            </div>
            <div class="experience_block">
              <h4>Web Developer</h4>
              <h5>Optum</h5>
              <div class="experience_details">
                <i class="far fa-calendar-alt"></i> 04/2017 - 09/2017 &nbsp;
                <i class="fas fa-map-marker-alt"></i> Minneapolis, MN
              </div>
              <div class="experience_description">
                A health system helping people live healthier lives.
                <ul>
                  <li>
                    Contributed thought leadership to complex technical endeavors; provided 
                    leadership in software best practice and API optimization.
                  </li>
                </ul>
              </div>
              <hr class="dashed_hr">
            </div>
            <div class="experience_block">
              <h4>Web Developer</h4>
              <h5>CRU</h5>
              <div class="experience_details">
                <i class="far fa-calendar-alt"></i> 10/2016 - 04/2017 &nbsp;
                <i class="fas fa-map-marker-alt"></i> Minneapolis, MN
              </div>
              <div class="experience_description">
                A caring community passionate about connecting people to Jesus Christ.
                <ul>
                  <li>
                    Delivered a new microsite to converted traffic into tangible sales for fiscal year-end sales initiative.
                  </li>
                </ul>
              </div>
              <hr class="dashed_hr">
            </div>
            <div class="experience_block">
              <h4>Full Stack Developer</h4>
              <h5>FourCubed</h5>
              <div class="experience_details">
                <i class="far fa-calendar-alt"></i> 08/2016 - 10/2016 &nbsp;
                <i class="fas fa-map-marker-alt"></i> Minneapolis, MN
              </div>
              <div class="experience_description">
                An internet marketing company bringing SaaS to online gaming.
                <ul>
                  <li>
                    Quickly turned around a troubled modernization effort for a SaaS web portal.
                  </li>
                </ul>
              </div>
              <hr class="dashed_hr">
            </div>
            <div class="experience_block">
              <h4>Web Developer</h4>
              <h5>Optum</h5>
              <div class="experience_details">
                <i class="far fa-calendar-alt"></i> 03/2016 - 08/2016 &nbsp;
                <i class="fas fa-map-marker-alt"></i> Minneapolis, MN
              </div>
              <div class="experience_description">
                A product line that's changing the landscape of health care forever.
                <ul>
                  <li>
                    Lead scrum team developer responsible for ensuring the delivery 
                    timeline was on track, developers and QA understood their tasks.
                  </li>
                </ul>
              </div>
              <hr class="dashed_hr">
            </div>
            <div class="experience_block">
              <h4>Web Developer</h4>
              <h5>Capella University</h5>
              <div class="experience_details">
                <i class="far fa-calendar-alt"></i> 06/2014 - 03/2016 &nbsp;
                <i class="fas fa-map-marker-alt"></i> Minneapolis, MN
              </div>
              <div class="experience_description">
                A regionally accredited university that offers online degree programs.
                <ul>
                  <li>
                    Communicated production recommendations, risks, challenges and solutions relevant 
                    to an enterprise-level architectural shift in internal tooling and software products.
                  </li>
                </ul>
              </div>
              <hr class="dashed_hr">
            </div>
            <div class="experience_block">
              <h4>Front End Developer</h4>
              <h5>Marine Retailers Assoc. of the Americas</h5>
              <div class="experience_details">
                <i class="far fa-calendar-alt"></i> 03/2013 - 06/2014 &nbsp;
                <i class="fas fa-map-marker-alt"></i> Minneapolis, MN
              </div>
              <div class="experience_description">
                A non-profit dedicated to improving the marine retail environment.
                <ul>
                  <li>
                    Drove digital marketing, software, and customer service strategy as an early stage employee.
                  </li>
                </ul>
              </div>
              <hr class="dashed_hr">
            </div>

          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="row">

          <div class="col-12">
            <h3>SKILLS</h3>
            <hr class="solid_hr">
            <div class="resume_tech">
              <button>Strategy</button>
              <button>Finance</button>
              <button>Marketing</button>
              <button>Business Analytics</button>
              <button>UI/UX</button>
              <button>CSS3</button>
              <button>HTML5</button>
              <button>JavaScript</button>
              <button>NodeJS</button>
              <button>TypeScript</button>
              <button>REST API</button>
              <button>Serverless</button>
              <button>Linux</button>
              <button>AWS</button>
              <button>Heroku</button>
              <button>NoSQL</button>
              <button>Postgres</button>
              <button>Git</button>
              <button>CI/CD</button>
            </div>
            <hr class="dashed_hr">
          </div>

          <div class="col-12">
            <h3>FIND ME ONLINE</h3>
            <hr class="solid_hr">
            <div class="find_online">
              <i class="fab fa-linkedin-in"></i> <b>LinkedIn</b><br><em>/in/michaelgeatz</em>
              <hr class="dashed_hr">
            </div>
            <div class="find_online">
              <i class="fab fa-github"></i> <b>GitHub</b><br><em>/mgeatz</em>
              <hr class="dashed_hr">
            </div>
          </div>

          <div class="col-12">
            <h3>EDUCATION</h3>
            <hr class="solid_hr">
            <div class="experience_block">
              <h4>Masters of Business Administration</h4>
              <h5>Capella University</h5>
              <div class="experience_details">
                <i class="far fa-calendar-alt"></i> 2018 - 2020
              </div>
              <hr class="dashed_hr">
            </div>
            <div class="experience_block">
              <h4>Bachelors of Arts</h4>
              <h5>Hamline University</h5>
              <div class="experience_details">
                <i class="far fa-calendar-alt"></i> 2010 - 2013
              </div>
              <hr class="dashed_hr">
            </div>
          </div>

          <div class="col-12">
            <h3>MOST PROUD OF</h3>
            <hr class="solid_hr">
            <div>
              <h4>Served in the United States Army</h4>
              <div class="find_online">
                <i class="far fa-thumbs-up"></i>
                <span>
                  As a child I wanted to serve my country, and at an early age I made
                  a promise to my future self that I would. I always keep my promises,
                  and I always accomplish the mission I set out to achieve.
                </span>
              </div>
              <hr class="dashed_hr">
            </div>
          </div>

          <div class="col-12">
            <h3>A DAY IN MY LIFE</h3>
            <hr class="solid_hr">
            <div style="width: 83%">
              <canvas id="myChart" width="100" height="100"></canvas>
            </div>
            <hr class="dashed_hr">
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
