<video autoplay muted loop
       width="100%"
       name="Michael Geatz"
       src="http://www.michaelgeatz.com/videos/FallingStars5Videvo.mov"></video>
<div class="cover_layer"></div>
<div class="hero_content" style="padding: 0 25px">
  <h3>Lead Full Stack Software Engineer</h3>
  <p>Bridging the gap between business and technology to build great things.</p>
  <br>
  <sup><a href="/resume">Resume</a></sup>
  <sup><a href="//yaboicrypto.com" target="_blank">Crypto</a></sup>
  <sup><a href="http://www.insurancepeers.com" target="_blank">Startup</a></sup>
</div>
