<video autoplay muted loop
       width="100%"
       name="Michael Geatz"
       src="../../assets/videos/IMG_2403.TRIM.MOV"></video>
<div class="cover_layer"></div>
<div class="hero_content" style="padding: 0 25px">
  <h1>Always 120%</h1>
  <p>To <b>reach the top 1%</b> you need to operate at 120%. Using <b>the 20-40 40-20 strategy</b>, you can get there.</p>
  <br>
  <sup><a href="/resume">Michael</a></sup>
  <sup><a href="/onetwenty">20-40 40-20</a></sup>
  <sup><a href="//yaboicrypto.com" target="_blank">Crypto</a></sup>
  <sup><a href="http://www.insurancepeers.com" target="_blank">P2P</a></sup>
</div>
