<video autoplay muted loop
       width="100%"
       name="Video Name"
       src="../../assets/videos/IMG_2403.TRIM.MOV"></video>
<div class="cover_layer"></div>
<div class="hero_content">
  <h1>Always 120%</h1>
  <p>To <b>reach the top 1%</b> you need to operate at 120%. Using <b>the 40-40-40 strategy</b>, you can get there.</p>
  <sup><a href="/resume">Michael</a></sup>
  <sup><a href="/120">120%</a></sup>
  <sup><a href="//yaboicrypto.com" target="_blank">Crypto</a></sup>
  <sup><a href="http://www.insurancepeers.com" target="_blank">P2P</a></sup>
  <h2>FOCUS</h2>
</div>
<div class="intense_eyes">
  <img src="../../assets/images/eyes.jpeg" width="100%"/>
</div>
